{% extends "base.html" %}
{% block content %}
<div style="
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
">
    <div style="max-width: 400px;padding:15px 0 0 0 " >
        <h3>{{ status }}</h3>
        <form action="/" method = "POST">
            <p>Search Query:  <input type = "text" name = "search" style="width: 100%"/></p>
            <p> | OR | </p>
            <p>Video Link:  <input type = "text" name = "vLink" style="width: 100%"/></p>
            <small style="color: red"> Copy YouTube video link form anywhere! No restrictions ! </small>
            <p><input type = "submit" value = "Submit" /></p>
        </form>

        <div>
            {% if response is string %}
                <h2 style="color: red"> {{ response }}</h2>
            {% else %}
                {% for each in response %}
                    <a class="clickable" onclick="postData( '{{ each['id'] }}','{{ each['name'] }}','{{ each['thumbnail'] }}','{{ each['duration'] }}' )">
{#                    <a href="#" onclick="postData({{ each }})">#}
                    <div style="display: flex; padding-top: 10px">
                        <img src="{{ each['thumbnail'] }}" style="margin-right: 10px">
                        <p>{{ each['name'] }} <br> {{ each['duration'] }}</p>
                    </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div style="max-width: 400px;padding:15px 0 0 0 ">
        <h3> CURRENTLY PLAYING </h3>
        {% if playing|length > 0 %}
        <p>{{ playing[0]['name'] }}</p>
        <p>{{ playing[0]['username'] }}</p>
        {% endif %}

        <h3> LIST OF SONGS IN QUEUE</h3>
        <ol>
        {% if songl.json|length > 0 %}
        {% for each in songl.json %}
            <li>{{ each['name']}}</li>
            <li>{{ each['username']}}</li>
        {% endfor %}
        {% endif %}
        </ol>
    </div>
</div>
    <script>
    {# Call post request for /playlist with jquery #}
    function postData(id,name,thumbnail,duration) {
        $.ajax({
            type: "POST",
            url: "/playlist",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({id,name,thumbnail,duration}),
            complete: function() {
                console.log("COMPLETED");
                window.location.href = "/";
            }
        });
    }
    </script>
    <style>
    .clickable {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
    </style>
{% endblock %}
